html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 !{subject}
      p
        | Hi !{otherProperty.first_name} !{otherProperty.last_name}
      p
        | You have requested a password reset, please follow the link below to reset your password.
      p
        |Please ignore this email if you did not request a password change.
      p
       a(href=""+otherProperty.return_url) Reset Your Password