html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 !{subject}
      p
        | Hi !{otherProperty.first_name} !{otherProperty.last_name}
      p
        | Thanks so much for signing up for the 
        a(href=""+otherProperty.site_url) Test-Api site!
      p
       a(href=""+otherProperty.return_url) Please verify your account